# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*-checkpoint.py

# --- Project Specific Data ---
# Ignoramos los datos locales para que no pesen en el repo, 
# pero mantenemos la carpeta con un .gitkeep si deseas
data/*.csv
data/*.geojson
data/*.shp
data/*.shx
data/*.dbf
data/*.prj
data/*.cpg

# Ignoramos los scripts de conversión ya que son parte del proceso, pero no queremos que se suban al repo
src/convert_shp_to_geojson.py


# --- Output ---
# Ignoramos el mapa final ya que se genera con el script


# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Environments (Conda/WSL2) ---
.conda/
*.log